.dsmata-red-btn {
    height: 45px;
    width: 45px;
    border: 1px solid #FF6872;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmata-red-btn img {
     width: 19px;

}